<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CB</title>
    <style>
        main {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            font-family: Arial, Helvetica, sans-serif;
        }

        a {
            text-decoration: none;
            color: #6c8ee3;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <main>
        Esto es el backend de la aplicación. Para acceder a la aplicación, haga click
        &nbsp;
        <a href="https://carloscb.com">
            aquí</a>
    </main>
</body>

</html>